body {
    font-family: Oswald, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100wh;
    height: 100vh;
      
}

.menu a{
    color: black ;
    font-weight: light;
    font-size: 23px;
}
.menu {
  display: flex;
  justify-content: flex-end;
  padding-left: 10px; 
}

#categoryCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#categoryCard button {
    color:white;
    border: 1px solid white;
    padding: 12px 15px;
    border-radius: 23px;
    background-color: transparent;
}
#toggle-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#profile-info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:30px;
    padding-left: 15px;

}
#profile-info-header h2 {
    font-family: Oswald;
    font-size: 70px;
    padding-top: 90px;
    color: white;
}

#profile-info-aboutUs{
    display: flex;
    justify-content: center;
    align-items: center;


}
#profile-info-aboutUs h3 {
     padding-top: 0px;
} 
#navbar{
    height: 400px;
    margin: 0 !important;
    box-shadow: none !important;
    background-image:url('img/display101.jpg') !important; 
    background-size: cover;
}
#navbar-links{
    display: flex;
    justify-content: space-between; 
    gap: 15px; 
    min-width: 250px;
     padding-top: 20px; 
}
#navbar-links-url {
    display: flex;
      gap: 20px;   
      justify-content:space-between;
      background-color: transparent; 
      color: #FFF !important;
}
#navbar-links-url a {
    text-decoration:none;
     color:white;   
     padding-bottom: 2px;
     position: relative;

}

  
  #navbar-links-url a:hover {
    color:orange; 
    text-decoration: underline; 
  }
  


#navbar-links ul {
    list-style-type:none;
}
#navbar-links button{
    color: white;
     border: 1px solid rgba(249,147,0,255); 
     padding: 10px 25px; 
     border-radius: 25px;
     font-weight: bold;
      background-color: rgba(249,147,0,255);


}

#booking-contact{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 15px;
}
#booking-contact p {
    /* line-height: 0.5; */

}
#booking-contact button {
    color: orange;
    border: 1px solid orange;
    padding: 15px 40px;
    border-radius: 35px;

}
.image-container{

    display: flex;
    flex-wrap:nowrap;
    overflow: hidden;
    padding-top: 30px;
    margin: 0 auto;
    justify-content: center;
    position: relative; /* Make image container relative for button positioning */

   
}

  
  .image-carousel2 {
    display: flex; 
    justify-content: center;
    min-width: 600px;
  }
  
  .image-wrapper2 { 
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: cover;  /* Maintain image scaling */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack elements vertically */
    justify-content: flex-end; /* Align content at the bottom */
    align-items: center;
}
  

  
  .chevron-left2,
  .chevron-right2 {
    position: absolute; 
    background-color: rgb(230, 219, 219);
    opacity: 0.9;
    border-radius: 50%;
    padding: 13px 15px;
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 1; 
  }
  
  .chevron-left2 {
    left: 0; 
    margin-left: 80px;
  }
  
  .chevron-right2 {
    right: 0; 
    margin-right: 50px;

  }
  
.image-carousel {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 30px;
    margin: 0 auto;
    justify-content: center;
  }
  
  .image-carousel img {
    transition: transform 0.5s ease-in-out;
  }
  .image-with-text {
    position: relative;
    margin: 10px;
    
  }
  
  .image-with-text .text-top-right {
    position: absolute;
    top: 0;
    right: 0;
    color: white; 
    background-color:rgb(8,108,92); 
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 0 5px 0 8px;  }
  
  .image-with-text .text-bottom-left {
    position: absolute;
    display: flex;
    justify-content: space-around;
    gap: 60px;
    bottom: 10px;
    left: 10px;
    color: white; 
  }
  .rotate-arrow {
    transform: rotate(320deg); 
    display: inline-block; 
    background-color: rgb(230, 219, 219);
    opacity: 0.9;
    border-radius: 50%;
    padding:5px 10px;
    
    text-align: center;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
  }
  
  #testimonial-outer-card {
    margin-top:35px;
    border:1px solid rgba(87,81,80,255) ;
    background-color:rgba(87,81,80,255); 
    opacity: 0.85;
    border-radius: 90px;
     position: relative;
     display: flex;
     align-items: center; 
     overflow: visible;
      height: 240px; 
     margin-bottom: 50px;

  }
  #testimonial-inner-card{
    display:flex;
    justify-content:space-between ;
    gap: 5px;
     border:1px solid rgba(101,95,96,255); 
     background-color:rgba(101,95,96,255);
     opacity: 0.9;
     border-radius: 55px;
     position: relative;
      width: 550px;
      margin-top: -2px; 
       overflow: visible;
       padding-top: 20px;
       padding-left: 20px; 
  }
  #testimonial-inner-card button {
    margin-left:-25px ;
  }
  #testimonial-info {
    display:flex;
    justify-content:left;
    gap:5px;
    margin-top: 10px;

  }
  #testimonial-info img {
    border-radius:10px; 
    margin-left:20px;
    margin-right:8px ;

  }
  #testimonial-info-message {
    margin-left:20px;
    text-align: left; 
    padding-bottom: 30px;
    padding-top:5px ;

  }
  #testimonial-info-rating {
    margin-top:-13px;
     display:flex; 
     justify-content:left;
     gap:2px;

  }
  .mainFooter{
    background-color: rgb(11,92,80);
  }
  .downLogo{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  #bottomLogo{
    height: 130px;
  }
  .bottom-line{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
  }
  #footer-part{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  #address-part{
    padding-left: 100px;
  }
  #address{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  #address-part{
    padding-left: 100px;
  }
  #add-details{
    color: white;
    font-size: 14px;
  }
  #address1{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-top: 20px;
  }
  #for-padding{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }
  #newsletter{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  #newsletter-text{
    color: white;
    font-size: 14px;
  }

  #newsletter-text{
  color: white;
  font-size: 14px;
}
#email-part{
    background-color: rgb(16,82, 73);
    max-height: 50px;
    border-radius: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  #email-part1{
    background-color: rgb(16,82, 73);
    max-height: 40px;
    border: none;
    width: auto;
    margin-top: 5px;
    margin-left: 10px;
    color: white;
    
  }
  #email-part1::placeholder{
    color: white;
  }
  #email-part1:focus{
    border: none;
  }
  #submit-but{
    background-color: rgb(247, 173, 64);
    border-radius: 25px;
    width: 120px;
    margin: 5px;
    height: 40px;
    color: white;
    font-size: 14px;
  }
  #social-part{
    padding-right: 100px;
  }
  #social{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  #icons-used{
    display: flex;
    gap: 1px;
  }
  #icon1{
    color: white;
    
  }
  .fa-brands{
    margin-right: 4px;
  }
  
  .icon-div{
    margin: 3px;
    border: 1px solid white;
    border-radius: 30px;
    align-items: center;
    padding:2px;
    padding-left: 8px;
    font-size: 12px;
  }
  .we-accept{
    padding-top: 30px;
  }
  #logos-used{
    display: flex;
    justify-content: space-between;
  }
  #iimg{
    padding: 3px;
    padding-left: 10px;
  }
  #final-content{
    background-color: rgb(9,55,48);
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  #down-contents{
    color: white;
    padding-left: 100px;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    gap: 25px;
    
  }
  #copyright{
    color: rgb(189,203,201);
    font-size: 12px;
    padding-right: 100px;
  }
  #padding-set{
    padding-left: 30px;
    padding-right: 30px;
  }
  
  #topImage{
    border-radius:50%;
     margin-right:-20px ;
     bottom:0; 
     left:0;
     position:relative;
      background-size: cover; 
    width: 20%;
  }
  
  

@media screen and(max-width:900px){
    #navbar-links-url {
        gap: 9px;
    }
    #displaytopImage{
        margin-left: -10px; 
      }
    #topImage{
        margin-right: 0px;
    }
    #navbar-links button{
        padding: 20px 25px;
        font-size: small;
    }
    #booking-contact{
        gap: 7px;
    }
    #booking-contact button {
        padding: 10px 20px;
        border-radius: 25px;
    }
    #booking-contact p {
        margin: auto;
    }
    #booking-info p {
        line-height: 0;
    }
}
@media screen and (max-width: 900px) { /* Target screens smaller than 768px */
  
  .image-carousel{
    height: 100%;
  }
    .chevron-left,
    .chevron-right {
      /* position: absolute;  */
      
      font-size: 20px;

    }
  
  
  }
  




/*id selector*/
#user_profile--name{
    color:aqua;
    text-transform: capitalize;

}
/* .card { */
    /* padding-top:10px ; */
    /* margin: auto; */
    /* background-color: #fff; */
    /* border-radius: 8px; */
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);} */

   
.profile-container {
    padding-top: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.profile-picture {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    max-height: auto;
    padding-left: 6px;
}
.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-info {
    text-align: left;
    margin-bottom: 20px auto;
    padding-right:10px ;
}

.profile-info p {
    color: #666;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profile-card {
    flex: 1; 
    /* min-width: 250px;  */
    min-height: 300px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-right: 30px;
}
.work-info {
    text-align: left;
    margin-bottom: 20px auto;
    padding-left: 20px;
    color: white;

}
.work-info p {
    font-size: larger;
    color: white;
    font-weight: bold;
}
.expertise-card {

    flex: 1; 
    min-height: 300px;
    background-color: rgb(248, 250, 252);

    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-right: 30px;
    border-bottom: solid  rgb(7, 152, 45) 7px;
}
.expertise-info {
    text-align: left;
    margin-bottom: 20px auto;
    padding-left:20px ;
    padding-top: 90px;
}

.customer-card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 250px;  */
    color: white;
    text-align: center;
    padding-top: 40px;
    margin-top: 20px; 
    /* margin-bottom: 20px; */

}
.customer-info {
        margin-bottom: 20px auto;
        padding-right:10px ;
}
.card-footer {
    flex: 1; 
    /* background-color: #fff; */
    padding: 20px;
    text-align:left;
    /* margin-top: 20px;  */
    margin-bottom: 20px;
    color: #9c9898;
}
.footer-info {
    text-align: left;

}
.blog-card {
    flex:1;
    /* min-width: 250px; */
    background-color: rgb(248, 250, 252);
    padding-left: 0;
    padding-right: 0;
    padding-bottom:50px ;
    text-align: left;
    margin-bottom: 20px;
    /* width: fit-content; */


}

.blog-card h5 {
    color: #666;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-top: 10px;
}
p{
    line-height: 1.5;
}
footer{
    text-align: center;
    border-style:solid ;

}
.share-link {
    padding-top: 45px;
    padding-bottom: 0;

} 

.contact-card {
    flex: 1; 

    background-color:rgb(248, 250, 252);
    padding: 20px;

    
    margin-top: 20px; 
}
.contact-info {
   display: flex;
   justify-content: space-between;
   text-align: center;

   
}
.contact-info button {
    border-radius: 28px;
    background-color: white;
    color:rgb(7, 152, 45);
    border-color:rgb(7, 152, 45) ;
    margin-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

h3:hover {
    color: rgb(7, 152, 45);
    /* color: rgba(163,212,93,.84);; */
    
}

@media (max-width: 768px) {
    .top-bar {
      flex-direction: column; /* Stack items vertically in mobile view */
      align-items: flex-center; /* Align items to the left in mobile view */
    }
}